# Core libraries
streamlit
torch
torchaudio
transformers[sentencepiece]

# Audio + ML
librosa
soundfile
numba
tqdm
scikit-learn
umap-learn

# AWS
boto3
botocore

# Data & Viz
pandas
numpy
plotly

# Utilities
requests
python-dateutil
typing-extensions
pillow
tornado

# Helpful extras
tenacity
watchdog
markdown-it-py
pygments
rich
filelock
